{% extends 'admin2/base.html' %}
{% load static %}
{% block title %} Manage Teacher {% endblock %}

{% block content %}
<section class="content mt-2">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-8">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Update Teacher </h3>
            </div>

      {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" id="message">
          {{ message }}
          <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button> -->
          </div>
          {% endfor %}
      {% endif %}
            <!-- /.card-header -->
            <!-- form start -->
            <form method="post">
              {% csrf_token %}

              <div class="card-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Teacher Name </label>
                  <input type="text" class="form-control" id="exampleInputEmail1" name = "teacherName" value="{{ item.teacherName }}">
                </div>

              <!-- <div class="card-body"> -->
                <div class="form-group">
                  <label for="exampleInputEmail1">Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" name="email" value="{{ item.email }}">
                </div>

                <div class="form-group">
                  <label for="exampleInputPassword1">Phone Number </label>
                  <input type="text" class="form-control" id="phone" name="phone" value="{{ item.phone }}">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1"> Address </label>
                  <input type="text" class="form-control" id="address" name="address" value="{{ item.address }}">
                </div>

                <div class="form-group">
                  <label for="department">Department</label>
                  <select class="form-control" name="department" id="department"  value="{{ item.designamtion }}">
                    <option value="1">EEE</option>
                    <option value="2">CSE</option>
                    <option value="3">ETE</option>
                    <option value="4">ECE</option>
                    <option value="5">ME</option>
                    <option value="6">GCE</option>
                    <option value="7">MTE</option>
                    <option value="8">MSE</option>
                  </select>
              </div>
              <div class="form-group">
                <label for="department">Designation</label>
                <select class="form-control" name="designamtion" id="designamtion" value="{{ item.designamtion }}">
                  <option value="Lecturer">Lecturer</option>
                  <option value="Ast. Professor">Ast. Professor</option>
                  <option value="Associate Professor">Associate Professor</option>
                  <option value="Professor">Professor</option>
                </select>
            </div>
              <div class="form-group">
                <label for="department">Gender</label>
                <select class="form-control" name="gender" id="gender" value="{{ item.gender }}">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
            </div>

                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="password" name="password" value="{{ item.password }}">
                </div>

                <div class="form-group">
                  <label for="exampleInputFile">Profile Picture</label>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="profile_pic" name="profile_pic" value="{{ item.profile_pic }}">
                      <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                    </div>
                    <!-- <div class="input-group-append">
                      <span class="input-group-text">Upload</span>
                    </div> -->
                  </div>
                </div>
                <!-- <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> -->
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                <button class="btn btn-primary" type="submit">Save Changes</button>
                <a class="btn btn-secondary" href="/adminApp/manageTeacher/">Cancel</a>
              </div>
              
            </form>
          </div>


        </div>
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>

{% endblock %}

<!-- <div class="container mt-5">
    <h1>Edit Item</h1>
    <form method="post">
        {% csrf_token %}
        <label for="new_name">New Name:</label>
        <input type="text" name="new_name" value="{{ item.teacherName }}" class="form-control">
        <button class="btn btn-primary" type="submit">Save Changes</button>
        <a class="btn btn-secondary" href="/adminApp/updateData/{{item.id}}">Cancel</a>
    </form>
</div> -->
